{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}    
<link rel="stylesheet" href="/Asset/CSS/inscription2.css" />
{% endblock %}

{% block body %}
<div id="top">
<h1>Rejoignez-nous !</h1>

<br>
<br>

<p id="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
</div>
    
{% if app.user %}
        <div class="mb-3">
        <p>Bonjour {{ app.user.userIdentifier }}, vous êtes connecté. </p>
        <br> 
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
{% endif %}
{% if app.user != true %}
{{ form_start(registrationForm) }}    
<div id="form2">
    <h1>S'inscrire</h1>
        
        {{ form_row(registrationForm.username, { 'attr': {'class': 'input2'} }) }}
        
        <div class="info">
        {{ form_row(registrationForm.password) }}
        </div>

        <div class="info">
        {{ form_row(registrationForm.firstName, { 'attr': {'class': 'input2'} }) }}
        {{ form_row(registrationForm.lastName, { 'attr': {'class': 'input2'} }) }}
        </div>

        <div class="info">
        {{ form_row(registrationForm.address, { 'attr': {'class': 'input2'} }) }}
        {{ form_row(registrationForm.city, { 'attr': {'class': 'input2'} }) }}
        </div>

        <div class="info">
        {{ form_row(registrationForm.zipCode, { 'attr': {'class': 'input2'} }) }}
        {{ form_row(registrationForm.country, { 'attr': {'class': 'input3'} }) }}
        </div>

        {{ form_row(registrationForm.email, { 'attr': {'class': 'input2'} }) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <br>

        <button type="submit" class="btn-primary">S'inscrire</button>
</div>
{{ form_end(registrationForm) }}        
{% endif %}
{% endblock %}
