{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}    
<link rel="stylesheet" href="/Asset/CSS/inscription.css" />
{% endblock %}

{% block body %}
<div id="top">
<h1>Rejoignez-nous !</h1>

<br>
<br>

<p id="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
</div>
    

 {{ form_start(registrationForm) }}    
<div id="form2">
    <h1>S'inscrire</h1>
    
        <div class="info">{{ form_row(registrationForm.username, { 'attr': {'class': 'input2'} }) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}, {placeholder: 'Mot de passe'}, { 'attr': {'class': 'input2'} }) }}
        </div>

        <div class="info">
        {{ form_row(registrationForm.first_name, { 'attr': {'class': 'input2'} }) }}
        {{ form_row(registrationForm.last_name, { 'attr': {'class': 'input2'} }) }}
        </div>

        <div class="info">
        {{ form_row(registrationForm.address, { 'attr': {'class': 'input2'} }) }}
        {{ form_row(registrationForm.city, { 'attr': {'class': 'input2'} }) }}
        </div>

        <div class="info">
        {{ form_row(registrationForm.zip_code, { 'attr': {'class': 'input2'} }) }}
        {{ form_row(registrationForm.country, { 'attr': {'class': 'input2'} }) }}
        </div>

        {{ form_row(registrationForm.email, { 'attr': {'class': 'input2'} }) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn-primary">S'inscrire</button>
</div>
{{ form_end(registrationForm) }}        

{% endblock %}
