{% extends 'base.html.twig' %}

{% block title %}Poster une annonce{% endblock %}

{% block body %}
    <h1>Poster une annonce</h1>

    {{ form_start(annonceForm) }}
        {{ form_row(annonceForm.title) }}
        {{ form_row(annonceForm.categorie) }}
        {{ form_row(annonceForm.product) }}
        {{ form_row(annonceForm.product_description) }}
        {{ form_row(annonceForm.price) }}
        {{ form_row(annonceForm.submit) }}
    {{ form_end(annonceForm) }}
{% endblock %}
