{% extends 'base.html.twig' %}
{% block title %}Messagerie{% endblock %}
{% block body %}
    {% if app.user %}
        <h1>Messagerie</h1>
        <p>Mes messages :</p>
        <p>Reçus : {{app.user.received|length}}</p>
        <p>Envoyés : {{app.user.sent|length}}</p>
        <p>--------------------------------</p>
        {% if app.user.received|length == 0 %}
            <p>Aucun message reçu.</p>
        {% else %}
            <h1>Messages reçus</h1>
            {% for message in app.user.received %}
                {% set bold = "" %}
                {% if message.isRead == 0 %}
                    {% set bold = "true" %}
                {% endif %}
                <h2>Sujet : {{message.title}}</h2>
                <p>Message de {{message.sender.username}}
                <p>Le {{message.createdAt|date}}</p>
                <div>{{message.message}}</div>
            {% endfor %}
        {% endif %}
        <a href='{{ path('app_send') }}'>Envoyer un message</a>
    {% endif %}
{% endblock %}