<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projet Annonces{% endblock %}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Asset/CSS/stylet.css" />
    <link rel="stylesheet" href="/Asset/CSS/footer.css" />
{% block stylesheets %}{% endblock %}

    {% block javascripts %}
    <script src="/Asset/JS/header.js"></script>
{% endblock %}
</head>

<body>

<header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
            <li><a href='{{ path('app_home') }}'>Home</a></li>
            <li><a class='dropdown-arrow' href='#'>Vêtements</a>
                <ul class='sub-menus'>
                    <li><a href='#'>Femmes</a></li>
                    <li><a href='#'>Hommes</a></li>
                </ul>
            </li>
            <li><a class='dropdown-arrow' href='#'>Accessoires</a>
                <ul class='sub-menus'>
                    <li><a href='#'>Chaussures</a></li>
                    <li><a href='#'>Accessoires</a></li>
                </ul>
            </li>

            {% if app.user %}
            <li><a href='#'>Messagerie</a></li>
            {% endif %}
        </ul>

        <div class ="gauche">
        <ul>
         {% if app.user != true %}
                    <li>
                        <a href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                    <li>
                        <a href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    {% endif %}

    {% if app.user %}
        <li>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
    {% endif %}
        </ul>
        </div>
    </nav>
</header>

{% block body %}{% endblock %}


</body>
<footer>
<div class="bottom">
<div class="ftr">
<a href="#"><p>Application Mobile</p></a>
<a href="#"><p>Communauté</p></a>
<a href="#"><p>Entreprise</p></a>
</div>

<div class="ftr">
<a href="{{ path('app_home') }}"><p>Home</p></a>
</div>

<div class="ftr">
<a href="#"><p>Aide</p></a>
<a href="#"><p>Nous Contacter</p></a>
<a href="#"><p>Ressources</p></a>
</div>
</div>

<br>
<hr>
<br>
<br>

<div>
<div class="link">
<a href="https://github.com/riadghub"><img src="/Images/github.png" alt=""></a>
<a href="https://www.linkedin.com/in/riad-e-33a802136/"><img src="/Images/linkedin.png" alt=""></a>
<a href="https://www.linkedin.com/in/louisianecloison/"><img src="/Images/icon _linkedin_.png" alt=""></a>
<a href="https://github.com/CLouiseGZB"><img src="/Images/icon _github_.png" alt=""></a>
</div>

<br>

<div class="link">
<p>©Louisiane Cloison & Riad Eer Aalla 2023</p>
</div>
</div>
</footer>
</html>
